*{  box-sizing: border-box;}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.poke-container{
  font-family: acumin-pro-extra-condensed;
  background:linear-gradient(0deg, rgba(196, 196, 196, 0) 50.77%, #FFCB05 99.23%);
  width:100;
  height:100vh;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:column;
  
}
.poke-container-1  {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding:-1rem; 
  margin: 1rem;
  color: hsl(217, 52%, 45%);  
}
.pokemon-name{
 position: relative; 
font-size: 72px;
font-style: italic;
font-weight: 700;
line-height: 86px;
letter-spacing: 0em;
bottom: 4.8%;
text-align: left;
color: #3663AD;
margin: 1rem;
}

.flags  {
  margin: 1rem  ;
  margin-top: -2.5rem;
  display:flex;
  flex-direction:column;
}


.details{
  margin: 1rem;
  padding: 10px;
  margin-top: 1rem;
}
p{
  font-size: 12px;
}

h1{
  margin:0;
  margin-top:-0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}


 .description{
  display: flex;
  flex-direction: column;
  justify-items: flex-start; 
  margin: 1rem;
  color: #000;
  line-height: 21.09px;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

#pokemon-img{
  width:150px;
  left: 48%;
  position: absolute;
  bottom: 65%;
  }

.poke-description{
  position: absolute;
  left: 48%;
  bottom: 50%;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  margin: 5px;
  width: 45%;
  font-style: normal;  
  }

  .line{
    border: 1px solid #F6BD20;
    margin: 1rem  ;
  }
  
  .species{
    margin: 1rem  ;
    margin-top: 2.5rem;
    display:flex;
    flex-direction:column;
    line-height: 21.09px;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;

  }

  /* .poke-type{
    margin: 1rem  ;
    margin-top:2rem;
    display:flex;
    flex-direction:column;
  } */


#btn{
  position: absolute;
  top: 91.5%;
  font-family: acumin-pro-extra-condensed,sans-serif;
  background-color:  #3663AD;
  border-radius: 20px 20px 0px 0px;
  color: #fff;
  font-size: 62px;
  line-height: 86px;
  width: 350px;
  height: 80px;
}

.type {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 1rem;
  padding: 10px;
  color: #000;
  line-height: 21.09px;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}


.types-and-stats{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 1.5rem;
}


.weight,
.height{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.stats-container{  
  margin: 1rem  ;
  margin-top: -2.5rem;
  display:flex;
  flex-direction:column;
  
}

.hp-container{
  display: flex;

  margin-top: 0.5rem;
}

#progress-bar, #progress-bar-attack{
    margin: 1rem  ;
    height: 20px;
    background-color: red;
}


.hp-container,
.attack-container,
.defense-container,
.sp-attack-container,
.sp-defense-container,
.speed-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 0.4rem;
}

.stats-name{
  display: flex;
  
}


.stats-name,
 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #000000;
}

  */armar una caja con tres elementos > un titulo SPECIES - 
  un subtitulo > el nombre dela especie que viene de la api- a
   la derecha la descrpicion quye viene de la api.*/