*{  box-sizing: border-box;}
.poke-container{
  font-family: acumin-pro-extra-condensed;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  color: #3663AD;
  background:linear-gradient(0deg, rgba(196, 196, 196, 0) 50.77%, #FFCB05 99.23%);
  width:100;
  height:100vh;
  margin: 0;
  display:flex;
  flex-direction:column;
}
.poke-container-1{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding:-1rem; 
  margin: 0.5rem;
}
.pokemon-name{
  margin: 10px;
  margin-top: 0.5rem;
  font-size:3rem;
}
.flags{
  margin-top: -0.1rem;
  display:flex;
  flex-direction:column;
  padding: 10px; 
}
p{
  margin:1rem;
}
h1, h2{
  margin:1rem;
  margin-top:-1rem;
  
}

.line{
  border: 1px solid #F6BD20;
}

#pokemon-img{
  width:150px;
  display:flex;
  justify-content:flex-end;  
  margin-right:2rem;
  position:fixed;
  bottom:55vh;
  right:1rem;
  z-index:100;
  }

  .poke-description{
    padding-left:60px;
    font-family: sans-serif;
    font-size: 11px;
    color: black;
    margin: 60px;
    font-style: normal;
  }